body {
    text-align: center;
    background-color: #474747;
    color: #fff;
    padding-top: 200px;
}
img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
    opacity: 0.5;
}